.main {
  padding: 40px;
}

.main__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 30px;
}

/*#########################################################################################################
title
#########################################################################################################*/

.title__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 26px;
}

.title {
  margin-right: 26px;
  white-space: nowrap;
  font-size: 26px;
  width: 650px;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 36px;
}