:root {
  --color-white: #FFF;
  --color-green: #0F0;
  --color-black: #000;
  --color-bg: #E7F6FF;
  --color-border: #EAEAEA;
  --color-border-2: #EDEDED;
  --color-button: #CDCDCD;
  --color-favorite: pink;
}